.m-auto{
    background-color: skyblue;
}
.mt-1{
	background-color: pink;
}
.main{
	margin-top: 3%;
	width: 20%;
	margin-left: 40%;
	padding: 0%,10%,0%,10%;

}

.bg-white {
	background-color: whitesmoke;
}
